a {
  color: #3a7175;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #7ACD93;
  color: #fefefd;
  font-family: 'Nunito', sans-serif;
  padding: 20px;
}

.my-name {
  color: #fff;
  margin: 10px auto;
  text-align: center;
}

.subtitle {
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.menu li {
  font-size: 22px;
  margin: 10px;
}

@media (min-width: 500px) {

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

}
