.medium-article {
  background-color: #fefefd;
  border: 1px solid black;
  box-shadow: 1px 2px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
}

.article-text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.medium-article p {
  text-align: left;
}

.article-image {
  margin: 2px 5px;
}

@media (min-width: 600px) {
  .medium-article {
    margin: 20px 60px;
  }
}
