.project-container {
  margin: 10px;
  max-width: 80%;
  text-align: center;
}

.tech-list {
  font-size: 0.75em;
  font-style: italic;
}

@media (min-width: 600px) {
  .project-container {
    margin: 40px;
    max-width: 40%;
  }
}
