.writing-container {
  align-items: flex-start;
  background-color: #7ACD93;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  justify-content: flex-start;
}

.writing-container h2 {
  align-self: center;
}

.writing-container a:hover {
  color: #D81B60;
}
